html {
  scroll-behavior: smooth;
}

body {
  background: url("../imgs/bg.png") repeat;
  background-size: cover;
  background-position: top center;
  overflow-x: hidden;
}

.container {
  padding: 0px 40px;
  border-radius: 15px;
  background-color: #FFF;
  filter: drop-shadow(#949494 0px 4px 4px);
}

h2,
h3 {
  color: #2a8080;
  font-weight: bold;
}

.panel-heading {
  background-color: #84342c !important;
  color: #fff !important;
  border-radius: 10px;
  background: transparent;
}

.panel-heading a {
  text-decoration: none;
  outline: none;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #84342c;
  border-color: #84342c;
  color: #fff;
}

.panel-title a {
  position: relative;
  display: block;
  padding-right: 40px;
}

.panel-title a::after {
  content: '\25B2';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.panel-title a.collapsed::after {
  content: '\25BC';
}

header {
  margin-top: 50px;
}

.tab-content {
  border-width: 3px;
  border-style: solid;
  padding: 40px;
  border-radius: 0 25px 25px 25px;
  border-color: #84342c;
}

.espera {
  background-color: #84342c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30vh;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 30px;
}

.espera h2 {
  color: #fff;
}

.grupo-imprimir {
  margin-top: 45px;
}

/* inicio painel premissas */
.painel-premissa {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.btn-premissa {
  border: none;
  width: 327px;
  height: 295px;
  transition: transform 0.2s, box-shadow 0.2s;
  scale: 0.9;
  margin: 10px -10px;
  background: transparent;
  outline: none;
}

.bt-premissa1 {
  background: url("../imgs/bt01.png");
}

.bt-premissa2 {
  background: url("../imgs/bt02.png");
}

.bt-premissa3 {
  background: url("../imgs/bt03.png");
}

.bt-premissa1:hover,
.bt-premissa2:hover,
.bt-premissa3:hover {
  transform: scale(1.1);
  box-shadow: 11px -12px 11px -2px rgba(132, 52, 44, 1);
  -webkit-box-shadow: 11px -12px 11px -2px rgba(132, 52, 44, 1);
  -moz-box-shadow: 11px -12px 11px -2px rgba(132, 52, 44, 1);
}

/* fim painel premissas */
/*---------- MENU ----------*/
.eng-item-menu {
  opacity: 1;
  margin: 0;
  padding: 0;
}

.eng-item-menu hr {
  width: 75%;
  position: relative;
  background-color: #2A8080;
  margin: 0 auto;
  height: 1px;
  border: none;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14,
.item15 {
  width: 100%;
  background-color: #2A8080;
  cursor: pointer;
  position: relative;
  margin-bottom: 0 !important;
  padding: 5px 10px;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover,
.item7:hover,
.item8:hover,
.item9:hover,
.item10:hover,
.item11:hover,
.item12:hover,
.item13:hover,
.item14:hover,
.item15:hover {
  transition: 0.3s;
  background-color: #2A8080;
}

.menu .item1::before,
.menu .item2::before,
.menu .item3::before,
.menu .item4::before,
.menu .item5::before,
.menu .item6::before,
.menu .item7::before,
.menu .item8::before,
.menu .item9::before,
.menu .item10::before,
.menu .item11::before,
.menu .item12::before,
.menu .item13::before,
.menu .item14::before,
.menu .item15::before {
  content: '';
}

.fundo-item {
  width: calc(100% - 5px);
  position: relative;
  color: #fff;
  font-size: 14.5px;
  padding: 5px 10px;
  text-align: center;
  height: calc(100% - 10px);
  margin: 0 5px 2px 0;
  display: inline-block;
  text-align: left;
  font-weight: bold;
}

.fundo-item:focus {
  color: #fff;
  text-decoration: none;
}

.fundo-item:hover {
  color: #507f7f;
  background: #fff;
  text-decoration: none;
}

.menu,
.bg-fundo {
  position: fixed;
  top: 0;
  left: 0;
}

.menu-checkbox {
  position: fixed;
  left: 0;
  top: 0;
  left: -30px;
}

.menu {
  width: 340px;
  height: 100%;
  transform: translate3d(-340px, 0, 0);
  transition: transform 0.35s;
  z-index: 1000;
}

.mod {
  display: block;
}

.overflow {
  position: relative;
}

.fade-check {
  transform: translate3d(0, 0, 0);
}

.menu ul {
  display: block;
  position: relative;
  height: 100%;
}

.menu label.menu-toggle {
  position: absolute;
  top: 80px;
  right: -50px;
  width: 50px;
  height: 50px;
  line-height: 0px;
  display: block;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  background: #fff url("../imgs/menu-alt.png") 50% 50%/25px 25px no-repeat;
  border-top: #2A8080 solid 4px;
  border-right: #2A8080 solid 4px;
  border-bottom: #2A8080 solid 4px;
}

.menu ul li>label {
  background: url("../imgs/icon-arrow-right.png") 95% 50%/16px 16px no-repeat;
}

.fade-check label.menu-toggle {
  background: #fff url("../imgs/menu-alt-close.png") 50% 50%/25px 25px no-repeat;
}

.menu .menu label.menu-toggle {
  background: none;
}

.scroll-bar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 50px;
}

.scroll-bar:first-child {
  margin-left: 0px;
}

.force-overflow {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

/*---------- /MENU ----------*/



@media only screen and (max-width: 768px) {
  .painel-premissa {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .btn-premissa {
    margin: 15px;
  }

}