* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */

}

html {
  scroll-behavior: smooth;
}

.modal-body {
  background: url("../imgs/bg_modal.png") repeat;
  background-size: cover;
  background-position: top center;
}

.modal-body .container {
  padding: 0px 40px;
  border-radius: 15px;
  background-color: #FFF;
  filter: drop-shadow(#949494 0px 4px 4px);
}

body {
  background: url("../imgs/bg01.png") repeat;
  background-size: cover;
  background-position: top center;
}

.bloco2 .container {
  padding: 0px 40px;
  border-radius: 15px;
  background-color: #FFF;
  filter: drop-shadow(#949494 0px 4px 4px);
}

.bloco4 .container {
  padding: 0px 40px;
  border-radius: 15px;
  background-color: #FFF;
  filter: drop-shadow(#949494 0px 4px 4px);
}

.bloco6 .container {
  padding: 0px 40px;
  border-radius: 15px;
  background-color: #FFF;
  filter: drop-shadow(#949494 0px 4px 4px);
}

.bloco {
  margin-top: 15px;
  margin-bottom: 20px;
}

.bloco7 {
  padding-bottom: 30px;
}

table.senac th {
  background-color: #80392C;
  color: #fff;
  border-color: #80392C;
}

table.senac {
  border-color: #80392C;
}

table.senac td {
  background-color: #fefefe;
  color: #000;
  border-color: #80392C;
}

.btn-fechar,
.btn-default {
  width: 120px;
  height: 50px;
  background-color: #80392C;
  color: #fff;
  font-weight: bold;
}

.btn-fechar::before,
.btn-default::before {
  content: 'Fechar';
}

.ico-fechar {
  padding-top: 25px;
}

.btn-fechar:hover,
.btn-default:hover {
  background-color: #2A8080;
  color: #fff;
}

.img-borda {
  margin-top: 40px;
  border-radius: 20px;
  filter: drop-shadow(#303030 4px 4px 6px);
}

.destaque3 {
  background-color: #80392C;
  color: #fff;
  width: 90%;
}

li {
  list-style-image: none;
}

.destaque2 {
  background: url("../imgs/destaque.png") no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden;
  padding: 55px 50px 50px 50px;
}

.caixa-destaque {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bt-elementos.selected {
  opacity: 0.7;
}

.bt-elementos.selected::after {
  content: '✔';
  position: absolute;
  top: 10px;
  right: 10px;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #2A8080;
  pointer-events: none;
  z-index: 10;
}

.bt-elementos.selected:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.painel-elementos {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bt-elementos {
  border: none;
  transition: transform 0.2s;
  background: transparent;
  outline: none;
  width: 210px;
  height: 174px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 8px;
  position: relative;
}

.bt-elemento1 {
  background: url("../imgs/bt/bt01.png");
}

.bt-elemento2 {
  background: url("../imgs/bt/bt02.png");
}

.bt-elemento3 {
  background: url("../imgs/bt/bt03.png");
}

.bt-elemento4 {
  background: url("../imgs/bt/bt04.png");
}

.bt-elemento5 {
  background: url("../imgs/bt/bt05.png");
}

.bt-elemento6 {
  background: url("../imgs/bt/bt06.png");
}

.bt-elemento7 {
  background: url("../imgs/bt/bt07.png");
}

.bt-elemento8 {
  background: url("../imgs/bt/bt08.png");
}

.bt-elemento1:hover {
  background: url("../imgs/bt/bt01_2.png");
}

.bt-elemento2:hover {
  background: url("../imgs/bt/bt02_2.png");
}

.bt-elemento3:hover {
  background: url("../imgs/bt/bt03_2.png");
}

.bt-elemento4:hover {
  background: url("../imgs/bt/bt04_2.png");
}

.bt-elemento5:hover {
  background: url("../imgs/bt/bt05_2.png");
}

.bt-elemento6:hover {
  background: url("../imgs/bt/bt06_2.png");
}

.bt-elemento7:hover {
  background: url("../imgs/bt/bt07_2.png");
}

.bt-elemento8:hover {
  background: url("../imgs/bt/bt08_2.png");
}

/* painel abas */
.tab-content {
  border-width: 3px;
  border-style: solid;
  padding: 40px;
  border-radius: 0px 0px 25px 25px !important;
  border-color: #80392C;
  background-color: #80392C;
  color: #FFF;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #80392C;
  background-color: #fff;
  border: none;
  border: 1px solid #80392C;
  border-bottom: transparent;
  font-weight: bold;
}

.nav-tabs>li>a:hover {
  color: #80392C;
  background-color: #fff;
  border: none;
  border: 1px solid #80392C;
  border-bottom: transparent;
  font-weight: bold;
}

.nav-tabs>li>a {
  color: #fff;
  background-color: #80392C;
  border: none;
  border: 1px solid #fff;
  border-bottom: transparent;
  font-weight: bold;
}

.nav-tabs {
  border-bottom: 1px solid #fff;
  border: none;
  background-color: #80392C;
  border-radius: 25px 25px 0px 0px !important;
}

.nav {
  padding-left: 30px;
  margin-bottom: 0;
  list-style: none;
}

/* fim painel abas */

.panel-title a {
  position: relative;
  display: block;
  padding-right: 40px;
}

.panel-default {
  border-color: transparent;
}

.panel-body {
  border: none;
  border-left: #80392C solid 5px;
  margin-left: 30px;
  padding-right: 40px;
}

.panel-title a::after {
  content: '\25B2';
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.panel-title a.collapsed::after {
  content: '\25BC';
}

.panel-heading {
  background-color: #80392C !important;
  color: #fff !important;
  border-radius: 12px;
  background: transparent;
}

.panel-heading a {
  text-decoration: none;
  outline: none;
}

/*--------- SLIDESHOW ---------*/
.carousel {
  margin: 40px auto;
  background-color: #80392C;
  border-radius: 30px;
  width: 680px;
  padding: 40px 0px;
}

.carousel-inner {
  margin: auto;
}

.carousel-inner img {
  margin: 0 auto;
  filter: none;
  width: 600px;
  height: 426px;
}

.carousel-inner p {
  margin-bottom: 0;
  color: #fff;
}

.carousel p {
  color: #fff;
}

.carousel-control.left {
  background: url("../imgs/esq.png") no-repeat center;
  margin-left: -100px;
}

.carousel-control.left:hover {
  background: url("../imgs/esq_hover.png") no-repeat center;
}

.carousel-control.right {
  background: url("../imgs/dir.png") no-repeat center;
  margin-right: -100px;
}

.carousel-control.right:hover {
  background: url("../imgs/dir_hover.png") no-repeat center;
}

div.item div {
  width: 600px;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-img01 {
  background: url('../imgs/img04.png');
}

.slide-img02 {
  background: url('../imgs/img05.png');
}

.slide-img03 {
  background: url('../imgs/img06.png');
}

.carousel-indicators {
  bottom: -25px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #dcc4bc;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #dcc4bc;
  border-radius: 10px;
  background-color: #80392C;
}

/*--------- /SLIDESHOW ---------*/

.img-zoom {
  display: table;
  position: relative;
  margin: 0px auto;
  cursor: pointer;
}

.img-zoom::after {
  content: url('../imgs/lupa.png');
  display: block;
  width: 80px;
  height: 80px;
  right: 50px;
  bottom: 25px;
  position: absolute;
  filter: drop-shadow(#333 3px 3px 4px);
}

h2,
h3,
h4 {
  color: #2a8080;
  font-weight: bold;
}

header {
  margin-top: 50px;
}

.espera {
  background-color: #84342c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30vh;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 30px;
}

.espera h2 {
  color: #fff;
}

.grupo-imprimir {
  margin-top: 45px;
}

/*---------- MENU ----------*/
.eng-item-menu {
  opacity: 1;
  margin: 0;
  padding: 0;
}

.eng-item-menu hr {
  width: 75%;
  position: relative;
  background-color: #2A8080;
  margin: 0 auto;
  height: 1px;
  border: none;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14,
.item15 {
  width: 100%;
  background-color: #2A8080;
  cursor: pointer;
  position: relative;
  margin-bottom: 0 !important;
  padding: 5px 10px;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover,
.item7:hover,
.item8:hover,
.item9:hover,
.item10:hover,
.item11:hover,
.item12:hover,
.item13:hover,
.item14:hover,
.item15:hover {
  transition: 0.3s;
  background-color: #2A8080;
}

.menu .item1::before,
.menu .item2::before,
.menu .item3::before,
.menu .item4::before,
.menu .item5::before,
.menu .item6::before,
.menu .item7::before,
.menu .item8::before,
.menu .item9::before,
.menu .item10::before,
.menu .item11::before,
.menu .item12::before,
.menu .item13::before,
.menu .item14::before,
.menu .item15::before {
  content: '';
}

.fundo-item {
  width: calc(100% - 5px);
  position: relative;
  color: #fff;
  font-size: 14.5px;
  padding: 5px 10px;
  text-align: center;
  height: calc(100% - 10px);
  margin: 0 5px 2px 0;
  display: inline-block;
  text-align: left;
  font-weight: bold;
}

.fundo-item:focus {
  color: #fff;
  text-decoration: none;
}

.fundo-item:hover {
  color: #507f7f;
  background: #fff;
  text-decoration: none;
}

.menu,
.bg-fundo {
  position: fixed;
  top: 0;
  left: 0;
}

.menu-checkbox {
  position: fixed;
  left: 0;
  top: 0;
  left: -30px;
}

.menu {
  width: 340px;
  height: 100%;
  transform: translate3d(-340px, 0, 0);
  transition: transform 0.35s;
  z-index: 1000;
}

.mod {
  display: block;
}

.overflow {
  position: relative;
}

.fade-check {
  transform: translate3d(0, 0, 0);
}

.menu ul {
  display: block;
  position: relative;
  height: 100%;
}

.menu label.menu-toggle {
  position: absolute;
  top: 80px;
  right: -50px;
  width: 50px;
  height: 50px;
  line-height: 0px;
  display: block;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  background: #fff url("../imgs/menu-alt.png") 50% 50%/25px 25px no-repeat;
  border-top: #2A8080 solid 4px;
  border-right: #2A8080 solid 4px;
  border-bottom: #2A8080 solid 4px;
}

.menu ul li>label {
  background: url("../imgs/icon-arrow-right.png") 95% 50%/16px 16px no-repeat;
}

.fade-check label.menu-toggle {
  background: #fff url("../imgs/menu-alt-close.png") 50% 50%/25px 25px no-repeat;
}

.menu .menu label.menu-toggle {
  background: none;
}

.scroll-bar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 50px;
}

.scroll-bar:first-child {
  margin-left: 0px;
}

.force-overflow {
  width: 100%;
  height: 100%;
  margin-right: 10px;
}

/*---------- /MENU ----------*/

@media screen and (max-width: 820px) {
  .carousel-control.left {
    margin-left: 0px;
  }

  .carousel-control.right {
    margin-right: 0px;
  }

}

@media only screen and (max-width: 768px) {
  .destaque2 {
    width: 100%;
  }

  .caixa-destaque {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 425px) {
  .carousel {
    display: none;
  }

  .painel-elementos {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .destaque2 {
    background: unset;
    background-size: unset;
    overflow-x: unset;
    height: unset;
    width: unset;
    background-color: #80392C;
    color: #fff;
  }

  .caixa-destaque {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}