html {
  scroll-behavior: smooth;
}

.video-youtube {
  width: 640px;
  height: 360px;
  border-radius: 10px;
  margin: 40px auto;
  display: block;
}

.btn-fechar,
.btn-default {
  width: 120px;
  height: 50px;
  background-color: #80392C;
  color: #fff;
  font-weight: bold;
}

.btn-fechar::before,
.btn-default::before {
  content: 'Fechar';
}

.ico-fechar {
  padding-top: 25px;
}

.btn-fechar:hover,
.btn-default:hover {
  background-color: #2A8080;
  color: #fff;
}

/* .btn-fechar {
  position: relative;
  margin: 40px auto;
  display: block;
} */


.bloco1 {
  background: url("../imgs/bg.png") no-repeat;
  background-size: cover;
  background-position: top center;
  overflow-x: hidden;
}

h2,
h3,
h4 {
  color: #2a8080;
  font-weight: bold;
}

header {
  margin-top: 50px;
}

.espera {
  background-color: #80392C;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 30vh;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 30px;
}

.espera h2 {
  color: #fff;
}

.grupo-imprimir {
  margin-top: 45px;
}


.painel-trilhas {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.bt-trilhas {
  border: none;
  transition: transform 0.2s;
  background: transparent;
  outline: none;
  width: 436px;
  height: 578px;
  margin: 20px;
}

.bt-trilha1 {
  background: url("../imgs/lista01.png");
}

.bt-trilha2 {
  background: url("../imgs/lista02.png");
}

.bt-trilha1:hover {
  background: url("../imgs/lista01b.png");
}

.bt-trilha2:hover {
  background: url("../imgs/lista02b.png");
}




@media screen and (max-width: 768px) {
  .painel-trilhas {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


@media screen and (max-width: 425px) {
  .bt-trilhas {
    scale: 0.7;
  }

}